  <div class="header">
    <h1 class="logo">Resto</h1>

    <div class="search-container">
        <input class="search-bar" type="text" placeholder="Enter name of item">
        <button class="search-btn">Search</button>
    </div>

    <div class="navigation">
        <ul>
            <li><a routerLink="home" class="nav-link">Home</a></li>
            <li><a routerLink="Login" class="nav-link">login</a></li>
            <li><a routerLink="menu" class="nav-link">Menu</a></li>
            <li><a routerLink="orders" class="nav-link">Orders</a></li>
        </ul>
    </div>
</div>