<div class="form-container">
    <form formGroupName="login">
        <input class="user-input" type="text" placeholder="Enter user name" formControlName="user-name">
        <small>User Name</small>

        <input class="user-input" type="email" placeholder="Enter email" formControlName="user-email">
        <small>User Email</small>

        <input class="user-input" type="password" placeholder="Enter password" formControlName="user-password">
        <small>User Password</small>

        <button class="submit-btn">Submit</button>
    </form>
</div>
